#header .configBtn {
    vertical-align: middle;
    margin-left: 5px;
    cursor: pointer;
}

#header .configBtn::before {
    content: "(";
    display: inline-block;
}

#modalBody .widgetSelect {
    margin: 5px 0px;
}

#modalBody .widgetSelect label {
    display: block;
    font-size: 14px;
    font-style: italic;
}

#modalBody .widgetSelect select {
    margin-top: 3px;
    width: 100%;
}

#modalBody .widgetInstallOptions input {
    width: 50%;
}

#modalBody .configShareUrl {
    margin: 10px 0 20px 0;
    color: #000;
    word-break: break-all;
    display: block;
    padding: 10px;
    background: #b5b5b5;
}