.widget {
    background-color: #414141;
    border: 1px solid #696969;
    margin-bottom: 15px;
}

.widget .widgetHeader {
    background-color: #b5b5b5;
    border-bottom: 1px solid #696969;
    color: #000;
    height: 28px;
    overflow: hidden;
}

.widget .widgetTitle {
    display: inline-block;
    padding: 5px 10px;
}

.widget .widgetOptions {
    float: right;
}

.widget .widgetOptions .widgetOption {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-left: 1px solid #696969;
    background-color: #8c8c8c;
    text-align: center;
}

.widget .widgetOptions .widgetOption:hover {
    cursor: pointer;
    background: #fff;
}

.widget .widgetOptions .widgetOption img {
    max-width: 28px;
    max-height: 28px;
    vertical-align: middle;
}

.widget .widgetBody {
    padding: 5px 8px 5px;
}