#modalOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000b3;
    z-index: 98;
    top: 0;
}

#modalOverlay #modalClose {
    width: 16px;
    height: 16px;
    background: #b6b6b6;
    position: absolute;
    right: 20px;
    top: 20px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    cursor: pointer;
}

#modalOverlay #modalClose::before {
    display: block;
    content: "x";
    color: #000;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    position: relative;
    top: -1px;
}

#modalOverlay #modalBody {
    background-color: #fff;
    color: #000;
    padding: 10px;
    margin: 20px 20px;
}

#modalBody .modalSection {
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

#modalBody .modalTextbox {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;    
}

#modalBody .modalTextbox input {
    margin-left: 10px;
    min-width: 200px;
}

#modalBody .modalCheckbox, #modalBody .modalChoices .modalChoicesChoice {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
}

#modalBody .modalCheckbox input, #modalBody .modalChoices input {
    vertical-align: -1px;
    margin-right: 5px;
}

#modalBody .modalCheckboxImage {
    display: inline-block;
    margin-right: 5px;
}

#modalBody .modalCheckboxImage input {
    display: none;
}

#modalBody .modalCheckboxImage img {
    opacity: 0.8;
    filter: grayscale(100%);
}

#modalBody .modalCheckboxImage input:checked + img {
    opacity: 1;
    filter: grayscale(0%);
}

#modalBody .modalTextArea textarea {
    width: 90%;
}

#modalBody .modalButtons {
    margin-top: 8px;
    margin-bottom: 5px;
}