.widget-trigger .triggerDetails {
    font-size: 14px;
    font-style: italic;
}

.widget-trigger .triggerItem {
    height: 38px;
    overflow: hidden;
    background-color: #b5b5b5;
    border: 1px solid #696969;
    margin-top: 5px;
    position: relative;
}

.widget-trigger .triggerItem .triggerItemIcon {
    display: inline-block;
    background: #b5b5b5;
    width: 32px;
    height: 32px;
    padding: 3px;
    text-align: center;
    border-right: 1px solid #696969;
    margin-right: 10px;
}

.widget-trigger .triggerItem .triggerItemIcon img {
    vertical-align: middle;
}

.widget-trigger .triggerItem .triggerItemMessage {
    display: block;
    position: absolute;
    top: 0;
    margin-left: 44px;
    height: 38px;
    line-height: 38px;
    color: #000;
}

#modalBody .modalCheckbox[class*="-trigger-"] {
    display: block;
    width: auto;
}