
.widget-encounter .encounterTime {
    font-family: "courier new";
    font-size: 32px;
    letter-spacing: -2px;
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;   
    color: #840000;
}

.widget-encounter .active .encounterTime {
    color: #79c841;
}

.widget-encounter .encounterZone {
    display: inline-block;
    font-size: 18px;
    margin-right: 20px;
}

.widget-encounter .encounterRaidDps {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
}

.widget-encounter .encounterRaidDps::before {
    display: inline-block;
    content: "(Raid DPS:";
    margin-right:6px;
    font-size: 16px;
    font-weight: normal;
}

.widget-encounter .encounterRaidDps::after {
    display: inline-block;
    content: ")";
    margin-left:1px;
    font-size: 16px;
    font-weight: normal;
}