.widget-parse .parseColumnHeads {
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid #fff;
}

.widget-parse .parseNoCombatants {
    text-align: center;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 5px;
}

.widget-parse .parseCombatant {
    padding: 5px;
}

.widget-parse .parseCombatant:nth-child(odd) {
    background-color: #b5b5b5;
    color: #000;
}

.widget-parse .parseColumn {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2%;
    width: 10%;
    overflow: hidden;
}

.widget-parse .parseColumn-job {
    text-align: center;
    max-width: 42px;
}

.widget-parse .parseColumn-job img {
    width: 38px;
    height: 38px;
    vertical-align: middle
}

.widget-parse .parseCombatantDamage .parseCombatantDamagePercent,
.widget-parse .parseCombatantHealing .parseCombatantHealingPercent {
    font-size: 12px;
}

.widget-parse .parseCombatantDamage .parseCombatantDamagePercent::before,
.widget-parse .parseCombatantHealing .parseCombatantHealingPercent::before {
    display:inline;
    content:"(";
    margin-left:5px;
}

.widget-parse .parseCombatantDamage .parseCombatantDamagePercent::after,
.widget-parse .parseCombatantHealing .parseCombatantHealingPercent::after {
    display:inline;
    content:")";
}

.widget-parse .parseCombatantDeaths, .widget-parse .parseColumnDeaths {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
    width: 15%;
}
