{{define "header"}}
<!DOCTYPE html>
<html>
    <head>
        <title>FFXIV Chompy</title>
        <link rel="stylesheet" href="/static/css/text.css" />
        <link rel="stylesheet" href="/static/css/widget.css" />
        <link rel="stylesheet" href="/static/css/widget.encounter.css" />
        <link rel="stylesheet" href="/static/css/widget.parse.css" />
        <link rel="stylesheet" href="/static/css/main.css" />
    </head>
    <body>
        <div id="siteHeader">
            <span class="textError textBold">Error</span>
        </div>
{{end}}
{{define "footer"}}
    </body>
</html>
{{end}}