{{define "header"}}
<!DOCTYPE html>
<html>
    <head>
        <title>FFXIV Chompy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/app.min.css?v={{.VersionString}}" />
    </head>
    <body>
        <div id="siteHeader">
            <div class="leftSide">
                <span class="textError textBold">Error</span>
            </div>
            <div class="rightSide">
                <span class="textRight textItalic">v{{.VersionString}}</span>
            </div>
            <div class="clear"></div>
        </div>
{{end}}
{{define "footer"}}
    </body>
</html>
{{end}}