{{template "header"}}
<div id="errorOverlay" class="hide">
    <div id="errorOverlayMessage" class="textCenter textBold">An error has occured.</div>
</div>
<div id="mainBody">
    <div id="loadingMessage">Loading...</div>
    <div id="widgetArea"></div>
</div>
<script type="text/javascript">
    var SESSION_ID = "{{.Session.ID}}";
</script>
<script type="text/javascript" src="/static/js/net_decoder.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
{{template "footer"}}