{{ template "base" .}}

{{ define "title" }} :: {{ .WebIDString }}{{ if .EncounterIDString }} :: Encounter {{ .EncounterIDString }}{{ end }}
{{ end }}

{{ define "headerLeft" }}
<span class="textBold siteTitle"><a href="/">{{.AppName}}</a></span> ::
<span class="webId"><a href="/{{ .WebIDString }}">{{ .WebIDString }}</a></span>
<span class="onlineStatus" title="ACT not detected.">Offline</span>
{{ if .EncounterIDString }}:: <span class="encounterId">Encounter {{ .EncounterIDString }}{{ end }}
{{ end }}

{{ define "content" }}
<div id="loadingMessage">Loading...</div>
<div id="widgetArea"></div>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript">
    var WEB_ID = "{{ .WebIDString }}";
    var ENCOUNTER_ID = "{{ .EncounterIDString }}";
</script>
<script type="text/javascript" src="/app.min.js?v={{ .VersionString }}"></script>
{{ end }}
