{{ define "title" }} :: Error{{ end }}

{{ define "headerLeft" }}
<span class="textBold siteTitle"><a href="/">{{.AppName}}</a></span> ::
<span class="textError textBold">Error</span>
{{ end }}

{{ define "content" }}
<div id="mainBody">
    <span>{{.ErrorMessage}}</span>
    <hr/>
    <span class="textBold">Possible issues...</span>
    <ul>
        <li>The ACT plugin failed to connect. Try restarting ACT to reset the connection.</li>
        <li>The user ID was mistyped.</li>
    </ul>
</div>
{{ end }}