{{ define "headerLeft" }}
<span class="textBold siteTitle"><a href="/">{{.AppName}}</a></span>
{{ end }}

{{ define "content" }}

<div class="homeSection">
    <p>
        {{.AppName}} is a tool for sharing your Final Fantasy XIV log and parse data from
        <a href="https://advancedcombattracker.com/">Advanced Combat Tracker (ACT)</a> on the
        web in real time.
    </p>
</div>

<div class="homeSection">
    {{ if (gt .User.ID 0) }}
    <p class="textCenter">
        Your ACT "upload key" is...
    </p>
    <code class="well textCenter">{{ .User.UploadKey }}</code>
    <p class="textCenter">
        Your parse page is...
    </p>
    <div class="well textCenter">
        <a id="parsePageUrl" data-web-id="{{ .WebIDString }}" href="/{{ .WebIDString }}"></a>
    </div>

    {{ else }}
    <p class="textCenter textBody">
        <a href="/new">Click here to generate your upload key.</a>
    </p>
    {{ end }}
</div>
{{ end }}

{{ define "scripts" }}
{{ if (gt .User.ID 0) }}
<script type="text/javascript">
window.addEventListener("load", function(e) {
    var parsePageUrlElement = document.getElementById("parsePageUrl");
    if (!parsePageUrlElement) { return; }
    parsePageUrlElement.innerText = window.location.protocol + "//" + window.location.host + "/" + "{{ .WebIDString }}";
    parsePageUrlElement.href = parsePageUrlElement.innerText;
});
</script>
{{ end }}
{{ end }}
