<!DOCTYPE html>
<html>
    <head>
        <title>{{ .AppName }}{{ template "title" . }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/app.min.css?v={{.VersionString}}" />
    </head>
    <body>
        <div id="errorOverlay" class="hide">
            <div id="errorOverlayMessage" class="textCenter textBold">An error has occured.</div>
        </div>
        <div id="modalOverlay" class="hide">
            <div id="modalClose"></div>
            <div id="modalBody"></div>
        </div>
        <div id="wrapper">
            <div id="header">
                <div class="leftSide">
                {{ template "headerLeft" . }}
                </div>
                <div class="rightSide">
                    <span class="textRight textItalic">v{{.VersionString}}</span>
                </div>
                <div class="clear"></div>
            </div>
            <div id="mainBody">
                {{ template "content" . }}
            </div>
        </div>
        <div id="footer">
            &copy; 2018 Nathan Ogden
        </div>
        {{ template "scripts" . }}
    </body>
</html>

{{ define "scripts" }}{{ end }}
{{ define "title" }}{{ end }}